### robotframework ###
*.xml
results/
reports/
arquivos/downloads
libs/__pycache__
# robot/arquivos/Dados_gerados.txt
*.pyc
*.pyo


### VisualStudioCode ###
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide